<img *ngIf="showImage" [src]="selectedImage">

<md-select placeholder="Your language" [(ngModel)]="selectedLanguage" name="language" 
    (change)="onChange(selectedLanguage)"
    (onOpen)="onOpen()"
    (onClose)="onClose()">
  <md-option *ngFor="let lang of languages" [value]="lang.value">
    <img src="{{lang.image}}"> {{lang.viewValue}}
  </md-option>
</md-select>

<md-input-container>
  <input mdInput placeholder="Enter verb to search" value="essere">
</md-input-container>

<button md-raised-button>Search</button>
